<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="public/css/style.css">
    <style>
        nav {
            overflow: visible;
        }
    </style>
    <script src="public/js/login.js"></script>
    <script src="public/js/list.js"></script>
    <script src="public/js/validate.js"></script>
</head>
<body>

    <nav>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
        
        <a href="/email_info" style="margin-left: 85%;">Add Items</a>

        <div id="container">
            <a id="addClosetLink" href="#">Add New Closet</a>
          </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Closets</a>
            <div class="dropdown-content" id="dropdown-content">
              <!-- Dynamic content will be inserted here -->
            </div>
          </div>

    </nav>

    <div class="container">
        <h1>Items</h1>
        <form id="itemForm">
            <ul>
                <% test.forEach((item, index) => { %>
                    <li>
                        <input type="checkbox" id="item_<%= index %>" value="<%= index %>">
                        <label for="item_<%= index %>">
                            <strong>Name:</strong> <%= item[0] %><br>
                            <strong>Quantity:</strong> <%= item[1] %><br>
                            <strong>Price:</strong> <%= item[2] %><br>
                            <img src="<%= item[3] %>" alt="<%= item[0] %>">
                        </label>
                    </li>
                <% }); %>
            </ul>
            <button type="button" onclick="sendSelectedItems()">Send Selected Items</button>
        </form>
    </div>
    

</body>
</html>
